.bg-body-tertiary {
  --bs-bg-opacity: none !important  
  }
  .containerr{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
  
  }
  .bgb{
    display: flex;
    justify-content: space-between;
  }
  .contain{
    display: flex;
    justify-content: space-between;

  }
  .yt-spec-touch-feedback-shape__fill{
    display: block;
    width: 10px;
    height: 1px;
  }